@model TryDemo.Models.CascadingModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
    {
        @Html.DropDownListFor(m => m.teamID, Model.TEAMS, "Please select")
        <br />
        <br />
        @Html.DropDownListFor(m => m.wstreamID, Model.WSTREAMS, "Please select")
        <br />
        <br />
        @Html.DropDownListFor(m => m.categID, Model.CATEGORIES, "Please select")
        <br />
        <br />
        <input type="submit" value="Submit" />
    }
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("select").each(function () {
                if ($(this).find("option").length <= 1) {
                    $(this).attr("disabled", "disabled");
                }
            });

            $("select").change(function () {
                var value = 0;
                if ($(this).val() != "") {
                    value = $(this).val();
                }
                var id = $(this).attr("id");
                $.ajax({
                    type: "POST",
                    url: "/Home/AjaxMethod",
                    data: '{type: "' + id + '", value: ' + value + '}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        var dropDownId;
                        var list;
                        switch (id) {
                            case "teamID":
                                list = response.WSTREAMS;
                                DisableDropDown("#wstreamID");
                                DisableDropDown("#categID");
                                PopulateDropDown("#wstreamID", list);
                                break;
                            case "wstreamID":
                                dropDownId = "#categID";
                                list = response.CATEGORIES;
                                DisableDropDown("#categID");
                                PopulateDropDown("#categID", list);
                                break;
                        }

                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            });
        });

        function DisableDropDown(dropDownId) {
            $(dropDownId).attr("disabled", "disabled");
            $(dropDownId).empty().append('<option selected="selected" value="0">Please select</option>');
        }

        function PopulateDropDown(dropDownId, list) {
            if (list != null && list.length > 0) {
                $(dropDownId).removeAttr("disabled");
                $.each(list, function () {
                    $(dropDownId).append($("<option></option>").val(this['Value']).html(this['Text']));
                });
            }
        }

        $(function () {
            if ($("#teamID").val() != "" && $("#wstreamID").val() != "" && $("#categID").val() != "") {
                var message = "Team: " + $("#teamID option:selected").text();
                message += "\nWStream: " + $("#wstreamID option:selected").text();
                message += "\nCategory: " + $("#categID option:selected").text();
                alert(message);
            }
        });
    </script>
</body>
</html>