@model TryDemo.Models.HomePageViewModel


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

   @if (ViewBag.teamL != null)
   {
     @Html.DropDownListFor(i => i.Teams, ViewBag.teamL as SelectList, "-- Select A Team --", new { Teams = " teamID" })
   }
     @Html.DropDownListFor(i => i.WStreams, new SelectList(" "), "-- Select A WorkStream --", new { WStreams = "wstreamID" })



@*<script>
    $(document).ready(function () {
        $("#teamID").change(function () {
            $.get("/Home/GetWStreamList", { teamID: $("#teamID").val() }, function (data) {
                $("#wstreamID").empty();
                $.each(data, function (index, row) {
                    $("#wstreamID").append("<option value='" + row.wstreamID + "'>" + row.wstreamName + "</option>")
 
                }); // end each wstID
            }); // end get GetWSTList
        }) // end change teamID
    }); // end ready doc

</script>*@

<script>
    $(document).ready(function () {
        $("#teamID").change(function () {
            var teamId = $(this).val();

            $.ajax({

                type: "POST",
                url: "/Home/GetWStreamList?teamID=" + teamId,
                success: function (response) {
                    $("#wstreamID").empty();
                    $("#wstreamID").append(response);
                } // end success
            }) // end ajax 
        }) // end teamID
    }) // end doc
</script>