@model TryDemo.Models.HomePageViewModel


<script src="~/Scripts/jquery-1.10.2.min.js"></script>

   @using (Html.BeginForm("ChangeCategory", "Home", FormMethod.Post))
   {
    <h3>Categories</h3>

    @Html.HiddenFor(m => m.Teams)
    @Html.HiddenFor(m => m.WStreams)

    @Html.DropDownListFor(m => m.teamID,
                        Model.Teams.Select(c => new SelectListItem
                        {
                            Text = c.teamName,
                            Value = c.teamID.ToString(),
                            Selected = c.teamID == Model.teamID
                        }),
                        new
                        {
                            onchange = @"form.submit();"
                        })

    <h3>Sub Categories Dropdown</h3>

    @Html.DropDownListFor(m => m.wstreamID,
                        Model.WStreams.Select(sc => new SelectListItem
                        {
                            Text = sc.wstreamName,
                            Value = sc.wstreamID.ToString(),
                            Selected = sc.wstreamID == Model.wstreamID
                        }),
                        new
                        {
                            onchange = @"form.submit();"
                        })
   }

